<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Wyszukaj gatunek"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Szukaj
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista mszyc</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let aphid of aphids; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveAphid(aphid, i)"
      >
        {{ aphid.name }}
      </li>
    </ul>
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAphids()">
      Usuń wszystkie
    </button>
  </div>
  <div class="col-md-6">
    <app-aphis-details
      [viewMode]="true"
      [currentAphid]="currentAphid"
    ></app-aphis-details>
  </div>
</div>
