html {
  --accent-background-1: #1f1f1f;
  --accent-background-2: #333333;
  --accent-background-3: #484848;
  --accent-background-4: #646464;
  --accent-background-5: #808080;

  --accent-foreground-1: #ffffff;
  --accent-foreground-2: #cfcfcf;

  --accent-error: #ef9a9a;

  --accent-orange-1: #f39654;

  --accent-turquoise-1: #92a1eb;
  --accent-turquoise-2: #9caaf1;
  --accent-turquoise-3: #7789e6;
  --accent-turquoise-4: #f59221;
  --accent-turquoise-5: #4c64db;
  --accent-turquoise-6: #aaf826;
  --accent-turquoise-7: #0019bf;

  --accent-gray-1: #adbbc4;
  --accent-gray-2: #dae1e6;

  --accent-red: #eb8585;
  --accent-green: #99f19c;
  --accent-blue: #9fc1f5;
  --accent-yellow: #f5ec9f;
}
