.classify-container {
  display: flex;

  label {
    width: 20rem;
  }

  input {
    width: 20rem;
  }

  .submit-form {
    display: flex;
    flex-flow: column;
  }

  .classify-result {
  }

  h3 {
    margin-top: 0;
  }
}
