<div class="main-container">
  <header>
    <a class="logo" routerLink="/" (click)="onMenuItemClick(menuItems[0])"><span>Aphid Class</span></a>
<!--    <a class="logo" routerLink="/">-->
<!--      <img src="assets/Logo3.png" alt="Aphid Class">-->
<!--    </a>-->
    <div class="menu">
      <a class="item" *ngFor="let item of menuItems" [class.selected]="selectedMenuItem === item"
         [class.hidden]="!item.visible"
         (click)="onMenuItemClick(item)">{{item.label}}</a>
    </div>
  </header>

  <div class="sub-main-container-outer">
    <div class="sub-main-container-inner">
      <div class="content-container-outer">
        <div class="content-container-inner">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <span>Copyright © 2022 Paweł Chmielarski</span>
  </footer>
</div>
