<div class="m-4" *ngIf="viewMode; else editable">
  <h3>Dane szczegółowe</h3>
  <div class="fade-in-element basic-data" *ngIf="currentAphid.id">
    <div class="field grid">
      <div class="col-fixed label">Gatunek:</div>
      <div class="col value">
        {{currentAphid.name}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-fixed label">Data pozyskania:</div>
      <div class="col value">
        {{currentAphid.date}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-fixed label">Długość tułowia:</div>
      <div class="col value">
        {{currentAphid.length_of_body}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-fixed label">hind_femora_length:</div>
      <div class="col value">
        {{currentAphid.hind_femora_length}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-fixed label">hind_tibia_lenght:</div>
      <div class="col value">
        {{currentAphid.hind_tibia_lenght}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-fixed label">number_of_setae_on_cauda:</div>
      <div class="col value">
        {{currentAphid.number_of_setae_on_cauda}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-fixed label">cauda_length:</div>
      <div class="col value">
        {{currentAphid.cauda_length}}
      </div>
    </div>
  </div>
  <div *ngIf="!currentAphid.name">
    <p>Wybierz mszycę z listy ...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentAphid.id" class="edit-form">
    <h4>Edycja danych mszycy</h4>
    <form>
      <div class="form-group">
        <label for="name">Gatunek</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentAphid.name"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="date">Data zbioru</label>
        <input
          type="text"
          class="form-control"
          id="date"
          [(ngModel)]="currentAphid.date"
          name="date"
        />
      </div>
      <div class="form-group">
        <label><strong>Długość:</strong></label>
        <input
          type="text"
          class="form-control"
          id="lengthOfBody"
          [(ngModel)]="currentAphid.length_of_body"
          name="lengthOfBody"
        />
      </div>
    </form>
    <!--    {{currentAphid | json}}-->
    <button class="badge badge-danger mr-2" (click)="deleteAphid()">
      Usuń
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateAphid()"
    >
      Aktualizuj
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentAphid.id">
    <br/>
    <p>Nie można wyświetlić szczegółów tej mszycy ...</p>
  </div>
</ng-template>
