<div *ngIf="viewMode; else editable">
  <div *ngIf="currentAphid.id">
    <h4>Dane szczegółowe</h4>
    <div>
      <label><strong>Gatunek:</strong></label> {{ currentAphid.name }}
    </div>
    <div>
      <label><strong>Data zbioru:</strong></label>
      {{ currentAphid.date }}
    </div>
    <div>
      <label><strong>Długość:</strong></label>
      {{ currentAphid.length_of_body }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/aphids/{{ currentAphid.id }}"
    >
      Edytuj
    </a>
  </div>
  <div *ngIf="!currentAphid">
    <br />
    <p>Wybierz mszycę z listy ...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentAphid.id" class="edit-form">
    <h4>Edycja danych mszycy</h4>
    <form>
      <div class="form-group">
        <label for="name">Gatunek</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentAphid.name"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="date">Data zbioru</label>
        <input
          type="text"
          class="form-control"
          id="date"
          [(ngModel)]="currentAphid.date"
          name="date"
        />
      </div>
      <div class="form-group">
        <label><strong>Długość:</strong></label>
                <input
          type="text"
          class="form-control"
          id="lengthOfBody"
          [(ngModel)]="currentAphid.length_of_body"
          name="lengthOfBody"
        />
      </div>
    </form>
<!--    {{currentAphid | json}}-->
    <button class="badge badge-danger mr-2" (click)="deleteAphid()">
      Usuń
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateAphid()"
    >
      Aktualizuj
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentAphid.id">
    <br />
    <p>Nie można wyświetlić szczegółów tej mszycy ...</p>
  </div>
</ng-template>
