.submit-form {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
}

label {
  width: 20rem;
}

input {
  width: 20rem;
}

.aphid-saved {
  margin-top: 0;
}

input[type=file] {
  display: none;
}

.center {
  align-self: center;
}

.filename {
  display: flex;
  flex-direction: column;
}
