<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form class="p-formgroup" autocomplete="off" [formGroup]="mainFg" (submit)="saveAphid()">
        <div class="p-field p-grid">
          <label for="name" class="p-col-fixed">Gatunek</label>
          <div class="p-col validated-input-container">
            <input pInputText id="name" type="text" autocomplete="off" [formControl]="nameFc">
            <small class="p-invalid" *ngFor="let error of nameFc.errors | keyvalue">{{error.value}}</small>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="date" class="p-col-fixed">Data</label>
          <div class="p-col validated-input-container">
            <input pInputText id="date" type="text" autocomplete="off" [formControl]="dateFc">
            <small class="p-invalid" *ngFor="let error of dateFc.errors | keyvalue">{{error.value}}</small>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="length_of_body" class="p-col-fixed">Długość tułowia</label>
          <div class="p-col validated-input-container">
            <input pInputText id="length_of_body" type="text" autocomplete="off" [formControl]="lengthOfBodyFc">
            <small class="p-invalid" *ngFor="let error of lengthOfBodyFc.errors | keyvalue">{{error.value}}</small>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="hind_femora_length" class="p-col-fixed">hind_femora_length</label>
          <div class="p-col validated-input-container">
            <input pInputText id="hind_femora_length" type="text" autocomplete="off" [formControl]="hindFemoraLengthFc">
            <small class="p-invalid" *ngFor="let error of hindFemoraLengthFc.errors | keyvalue">{{error.value}}</small>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="hind_tibia_lenght" class="p-col-fixed">hind_tibia_lenght</label>
          <div class="p-col validated-input-container">
            <input pInputText id="hind_tibia_lenght" type="text" autocomplete="off" [formControl]="hindTibiaLenghtFc">
            <small class="p-invalid" *ngFor="let error of hindTibiaLenghtFc.errors | keyvalue">{{error.value}}</small>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="number_of_setae_on_cauda" class="p-col-fixed">number_of_setae_on_cauda</label>
          <div class="p-col validated-input-container">
            <input pInputText id="number_of_setae_on_cauda" type="text" autocomplete="off"
                   [formControl]="numberOfSetaeOnCaudaFc">
            <small class="p-invalid"
                   *ngFor="let error of numberOfSetaeOnCaudaFc.errors | keyvalue">{{error.value}}</small>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="cauda_length" class="p-col-fixed">cauda_length</label>
          <div class="p-col validated-input-container">
            <input pInputText id="cauda_length" type="text" autocomplete="off" [formControl]="caudaLengthFc">
            <small class="p-invalid" *ngFor="let error of caudaLengthFc.errors | keyvalue">{{error.value}}</small>
          </div>
        </div>
        <button pButton icon="far fa-check" type="submit" label="Zapisz"></button>
      </form>
    </div>
    <div *ngIf="submitted">
      <h4>Mszyca została zapisana!</h4>
      <button class="btn btn-success" (click)="newAphid()">Dodaj następną</button>
    </div>
  </div>
</div>
